@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.navBar {
  list-style-type: none;
  height: 100vh;
  top: 0;
  border-right: 1px solid #ddd;
  position: sticky;
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navBar::-webkit-scrollbar {
  width: 0;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #fff;
  width: 50%;
  height: 100vh;
  top: 0;
  left: 5.2rem;
  border-left: 1px solid #ddd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* navBar */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  height: 105px;
  border-bottom: 1px solid #ddd;
}

nav .navbar-brand {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

nav .nav-list {
  display: flex;
  display: none;
}

nav .nav-list .nav-item {
  cursor: pointer;
  padding: 0 30px;
  transition: 0.4s;
  border-bottom: 1px solid #ddd;
}

nav .nav-list .nav-link {
  color: #2e2e2e;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 935px) {
  nav {
    padding: 0 1em;
  }

  nav .nav-list .nav-item {
    padding: 0 20px;
  }
}

@media (max-width: 675px) {
  nav {
    line-height: 75px;
  }
  nav .nav-list {
    display: grid;
    position: absolute;
    background: #fff;
    width: 100%;
    height: fit-content;
    top: 105px;
    left: 0;
    transform: translateY(-135%);
    z-index: 1;
    transition: 0.6s;
  }

  nav .nav-list .nav-item {
    padding-left: 35px;
  }

  nav .navbar-toggler {
    display: grid !important;
  }
  .navBar {
    display: none;
  }
}

nav .navbar-toggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: #2e2e2e;
  border-radius: 10%;
  transition: 0.4s;
}

.inputH {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
  margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}
#cardsInfo {
  width: 100%;
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}
#cardsInfo .card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  cursor: pointer;
  width: 460px;
  height: 380px;
  box-shadow: -16px 16px 56px -8px rgba(145, 158, 171, 0.16);
  border: 1px solid #c6c6c6;
  border-radius: 0.3em;
  transition: all 0.6s ease-in-out;
  padding: 22px 30px 22px 30px;
}
#cardsInfo .card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.categories {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  margin: 20px 0 80px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}
.categories .category {
  border: 1px solid #c6c6c6;
  width: 280px;
  height: 250px;
}
.categories .category a img {
  width: 181px;
  height: 181px;
}
.categories .category a {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.categories .category:hover {
  transition: 0.5s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1.6);
}
#hidden-content {
  display: none;
}
#hidden-content div div:hover {
  transition: 0.5s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1.6);
}
/* .about-store */
.about-store {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px 0 12px;
  width: 100%;
}
.about-store .contactsBlock:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.about-store .contactsBlock {
  transition: all 0.6s ease-in-out;
  box-shadow: -16px 16px 56px -8px rgba(145, 158, 171, 0.16);
  border: 1px solid #c6c6c6;
  border-radius: 0.3em;
}
.about-store .contactsBlock div a:hover {
  transition: 0.7s;
  transform: scale(1.1);
  text-decoration: underline;
}
